<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Watch</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="topnav">
    <span id="left-nav">
    </span>
    <span id="middle-nav">
      <h1><a id="home" class="active" href="/">GameWatch</a></h1>
    </span>
    <span id="right-nav">
      {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
<<<<<<< HEAD
        <a href="/login">Login</a>
=======
        <a href="/login" class="logIn">Login</a>
>>>>>>> 520a012d6a38fc8b767df65c0c48086bd8efd321
        {{/if}}
    </span>
  </nav>

  <hr id="hr">

  <form id="search">
      <input id="searchBar" type="text" placeholder="Search your game here..." name="search">
      <button id="search-submit" type="submit">Search</button>
    </form>
{{{body}}}
<script src="/js/search.js"></script>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}
</body>

</html>