
<body>
  <header class="topnav">
    <form id="search">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>
    <nav>
      <a class="active" href="/">Home</a>
    </nav>
  </header>
{{{body}}}
{{{/body}}}
</body>

</html>