<body>
    <div class="game_Title">
        <h1>Gamer Boys/Girls</h1>
        <p>A place where you can feel at home</p>
    </div>
    
    <div class="wrapper">
  <section class="games">
    {{#each games as |game|}}
      {{> game-card}}
    {{/each}}
  </section>
</div>




    


</body>
