<section class="hero home">
  <div class="wrapper centered">
    <h1>A Place for Gamers</h1>
    <p>Where you can feel at home</p>
  </div>
</section>
    
    <div class="wrapper">
  <section class="games">
    {{#each games as |game|}}
      {{> game-card}}
    {{/each}}
  </section>
<<<<<<< HEAD
</div>
=======
</div>



>>>>>>> main
