* {
  padding: 0;
  margin:auto;
  
}

body {
  background-color: ghostwhite;
}

.topnav {
  background-color: tomato;
  height: 100px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero.home {
  background: url('../img/download.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  margin-top: 60px;
  white-space: 20px;
}

.game {
  width:500px;
  background-color: rgb(250, 99, 44);
  padding:10px;
  display:flex;
  color:white;
  box-shadow: 2px 5px 6px black;
  margin: 20px;
}

.game div h2 a {
  text-decoration: none;
  color:white;
  font-family: sans-serif;
}

button#login {
  background-color: rgb(0, 140, 255);
  color: white;
  width: 120px;
  height: 40px;
}

button#sign_up {
    background-color: rgb(0, 140, 255);
    color: white;
    width: 120px;
    height: 40px;
}

.game_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game_info img {
  margin-left: 15px;
  height: 360px;
  width: auto;
  box-shadow: 5px 3px 5px;
}

.section_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 120px;
}

.age_rating_size {
  width: 40px;
}

input#comment {
  width: 50%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

button#comment_submit {
  background-color: rgb(189, 55, 189);
  color: white;
  width: 20.8%;
  height: 2.8rem;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  font-size: 1rem;
  background-color: rgb(189, 55, 189);
  color: white;
}

.game img {
  height: 199px;
  width: 150px;
  padding:20px;
  
}

#home {
  color: whitesmoke;
  font-size: 60px;
  text-decoration: none;
  font-weight: 900;
  font-family: fantasy;
  letter-spacing: 2.4px;
  margin-left: 25px;
}

.logIn {
  text-decoration: none;
  color: white;
  position: relative;
  top:20px;
  right: 15px;

}

.topnav {
  display: flex;
}

#left-nav {
  width: 15%;
}

#middle-nav {
  width: 70%;
  text-align: center;
}

#right-nav {
  width: 15%;
  text-align: right;
  margin-top: 10px;
}

#search {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

input#searchBar {
  width: 70%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

button#search-submit {
  width: 12%;
  height: 2.8rem;
  outline: none;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
  /* margin-left: 15px;*/
}



#gameSummary {
  width: 50%;
  margin: auto;
}

#reviews {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

#newReview {
  width: 50%;
}

#reviewInput {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 12pxs
}

/*Responsive*/
@media screen and (max-width: 1620px) {
  #middle-nav {
    width: 50%;
  }
  #left-nav, #right-nav {
    width: 25%;
  }
}

@media screen and (max-width: 1170px) {
  button#search-submit {
    width: 20%;
  }
  #home {
    font-size: 77px;
  }
  button#comment_submit {
    width: 25%;
    font-size: 70%;
  }
}

@media screen and (max-width: 910px) {
  #reviews {
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 830px) {
  #home {
    font-size: 77px;
  }
  #left-nav, #right-nav {
    width: 15%;
  }
  #middle-nav {
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  button#search-submit {
    font-size: 12px;
  }
  .logIn {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #left-nav {
    display: none;
  }
  #right-nav {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
  #middle-nav {
    width: 100%;
  }
  .topnav {
    flex-direction: column;
    align-items: center;  
  }
  #search {
    width: 80%;
  }
  button#search-submit {
    width: 35%;
  }
  .game_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}


input#email-login.form-input{
  background-color: white;
  width: 50%;
  height: 30px;
  font-size:  20px;
  position: relative;
  left:20px;
}
input#password-login.form-input{
  background-color: white;
  width: 50%;
  height: 30px;
}
input#name-signup.form-input{
  background-color: white;
  width: 50%;
  height: 30px;
  position: relative;
  left:18px;
}

input#password-signup.form-input{
  background-color: white;
  width: 50%;
  height: 30px;
}

input#email-signup.form-input{
  background-color: white;
  width: 50%;
  height: 30px;
  font-size:  20px;
  position: relative;
  left:19px;
}

select#stars {
  background-color: rgb(255, 136, 0);
  color:white;
}

.game-cardImg {
  width:30%;
}
.game-cardImg2 {
  width: 70%;
}

.game-cardImg2 div {
  margin-left: 40px;
  position: relative;
  bottom:40px; 

}

.game-cardImg2 a h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-shadow: 2px 1px 1px black;
}

.genres {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
#middle-nav .fa-search{
  text-transform: none;
  color:black;
}

#log-sign {
  justify-content: center;
  background-color: orangered;
  box-shadow: 2px 2px 2px;
  width: 70%;
  height: 600px;
  text-align: center;
  margin-top: 300px;
}

#log-sign h2{
  position: relative;
}

.login-card {
  color: white;
  position: relative;
  top: 50px;
  font-family: sans-serif;
  font-size:20px;
}

.login-card2 {
  color: white;
  position: relative;
  top: 50px;
  font-family: sans-serif;
  font-size:20px;
  top: 110px;
}



