* {
  background-color:255 151 185 ;
  margin: 0;
  padding: 0;
}

.body{
  background-color: 255 151 185;
}

.topnav{
  background-color: 255 117 162;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero.home {
  background: url("../img/download.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
}

.game {
  flex: 0 1 300px;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #c6c9c9;
  color: var(--light);
}